/*SECTION STYLING*/

/*Whole Page*/

*{
    margin: 0;
    font-family: 'Questrial', sans-serif;

}

body {
    background-image: url(./assets/background_gradient.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Header*/

.header {
    background-color: transparent;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

img {
    width: 160px;
    height: auto;
    padding-top: 20px;
}

.header-links {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
}

#links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 30px
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #ffffff;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Section 1*/

.section1 {
    background-color: transparent;
    padding: 50px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: transparent;
    padding: 30px 50px 10px 50px;
    border: solid 5px white;
    border-radius: 30px;
    width: 70%;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: white;
    flex-wrap: wrap;
    max-width: 90%;
    padding-bottom: 20px;
}

.subtext {
    font-size: 20px;
    color: #e5e7eb;
    padding-bottom: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: solid 2px #ffffff;
    border-radius: 8px;
    padding-top: 4px;
    align-self: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 30px;
}

button:hover {
    background-color: #ffffff;
    color: #765cc3;
}

button:active {
    background-color: #e5e7eb;

}

.img_holder {
    background-color: transparent;
    background-image: url(./assets/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guitar {
    width: 300px;
    padding-left: 100px;
}


/*Section 2*/

.section2 {
    background-color: white;
    margin: 30px 100px 30px 100px;
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    border: solid white;
    border-radius: 29px;
}

.random-info {
    font-size: 36px;
    font-weight: bolder;
    color: #765cc3;
    align-self: center;
}

.square_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.square {
    display: flex;
    justify-content: space-around;
}

.square > img {
    display: flex;
    flex: 1;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #765cc3;
}

.texts_container {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.texts {
    width: 125px;
    text-align: center;
    color: #765cc3;
    font-weight: 600;
    font-size: 20px;
}


/*Section 3*/

.section3 {
    background-color: transparent;
    padding: 90px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.quote_container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

#quote {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.quotee {
    align-self: flex-end;
    font-weight: bolder;
    color: #e5e7eb;
}


/*Section 4*/

.section4 {
    background-color: transparent;
    display: flex;
    flex: 1;
    justify-content: center;
}

.container4 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    display: flex;
    gap: 100px;
}

.sub_container {
    display: flex;
    flex-direction: column;
}

.main_text {
    font-size: 20px;
    font-weight: 900;
}

.signup2 {
    background-color: transparent;
    border: solid white 2px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

}


/*Footer*/

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px
}


/*SPECIFICS STYLING*/